librosa>=0.10.1
numpy>=1.24.0
pandas>=2.0.0
scipy>=1.11.0
matplotlib>=3.7.0
seaborn>=0.12.2
scikit-learn>=1.3.0
soundfile>=0.12.1
datasets>=2.14.0
huggingface_hub>=0.17.0
tqdm>=4.65.0
audioread>=3.0.1
resampy>=0.4.2

# Synthetic data generation
edge-tts>=6.1.9

# STT evaluation
openai-whisper>=20231117
jiwer>=3.0.4
